* {
  font-family: monospace;
  background-color: #000;
  color: #f0faf9;
}

/*PROGRESS BAR*/
#myProgress {
  width: 100%;
  background-color: #000;
  margin-left: 10px;
}

#Objective {
  display: block;
}

/*#myBar {*/
/*  height: 33.33px;*/
/*  background-color: #00CED1;*/
/*  text-align: center;*/
/*  line-height: 30px;*/
/*  border: 1px;*/
/*  color: white;*/
/*}*/

.line {
  height: 25px;

  line-height: 25px;
  font-size: 14px;
  color: #fff;
  padding: 0 0 0 10px;
  position: sticky;

}

.line:before {
  content: '';
  width: 1%;
  position: absolute;
  left: 0;
  height: 25px;
  top: 0;
  z-index: -2;
  background: #00CED1;
}

.line:after {
  content: '';
  background: #00CED1;
  height: 25px;
  transition: 0.8s;
  display: block;
  width: 100%;
  animation: animate 2s;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

@keyframes animate {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}


@-webkit-keyframes animate {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}


.column {
  float: left;
  width: 30%;
  padding: 10px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.tab {
  padding-top: 25px;
  margin-left: 10px;
  overflow: hidden;
  background-color: #000;
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  
}

.tab button:hover {
  -webkit-transform: scale(1.2);
  transition-timing-function: linear;
}

.tab button.active {
  -webkit-transform: scale(1.2);
  color: #00CED1;
  font-size: bold;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  border-top: none;
  transition-timing-function: linear;
}

#more{
  display: none;
}

img {
  border-radius: 50%;
  display: inline-block;
  margin: 0 auto;
  height: 200px;
}

.header img {
  background: #555;
}

.header h1, h3 {
  position: relative;
  top: 18px;
  left: 10px;
}

.btn {
  padding-top: 18px;
  margin-left: 10px;
}

.header p, a {
  position: relative;
  left :10px;
  top: 18px;
}

.footer {
  margin-top: 50px;
  margin-left: 50%;
  margin-right: 50%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


